#Ignore CCS files that mess up project builds
Project03-Gonzalez_Kirkland/Debug/*
Project03-Gonzalez_Kirkland/driverlib/*
Project03-Gonzalez_Kirkland/targetConfigs/*
Project03-Gonzalez_Kirkland/lnk_msp430fr2355.cmd
Project03-Gonzalez_Kirkland/.launches/*
Project03-Gonzalez_Kirkland/.settings/*
Project03-Gonzalez_Kirkland/.ccsproject
Project03-Gonzalez_Kirkland/.cproject
Project03-Gonzalez_Kirkland/.clangd
Project03-Gonzalez_Kirkland/.project
